<%= form_for [@company, @message] do |f|%>
<%= f.hidden_field :company_id %> 
<label>message<%= f.text_area :body %></label>
<label>author<%= f.text_field :author %></label>  
<%= f.submit %> 
<% end %>  
